.character-sheet-body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 1rem;
  grid-column-gap: 1rem;
}

.stat-block-container {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
}

.proficiencies-container {
  grid-area: 1 / 2 / 2 / 4;
}

.details-container {
  grid-area: 1 / 4 / 2 / 7;
  margin-bottom: 1rem;
  min-width: 100%;
}

.action-buttons {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 1rem;
  float: right;
  margin-left: 1rem;
}

.MuiDrawer-paper {
  width: 40% !important;
  padding: 2rem !important;
}

.drawer {
  background-color: #f9f9f9;
}
